<h1>Beer clubs</h1>

<table class="table table-hover" id="beer_clubs">
  <thead>
  <tr>
    <th>Name</th>
    <th>Founded</th>
    <th>City</th>
  </tr>
  </thead>
  <tbody>
  <% @beer_clubs.each do |beer_club| %>
    <tr id="<%= dom_id beer_club %>">
      <th>
        <%= link_to beer_club.name, beer_club %>
      </th>
      <th>
        <%= beer_club.founded %>
      </th>
      <th>
        <%= beer_club.city %>
      </th>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to("New beer club", new_beer_club_path, class: "btn btn-primary") if current_user %>
