<h2>Ratings</h2>

<div class="row">
  <div class="col-md-4">
    <h4>Best beers</h4>
    <%= render 'partials/top_by_average_rating_table', name: "Beer", items: @top_beers %>
  </div>
  <div class="col-md-4">
    <h4>Best breweries</h4>
    <%= render 'partials/top_by_average_rating_table', name: "Brewery", items: @top_breweries %>
  </div>
  <div class="col-md-4">
    <h4>Best styles</h4>
    <%= render 'partials/top_by_average_rating_table', name: "Style", items: @top_styles %>
  </div>
</div>

<h4>Most active users</h4>
<ul>
  <% @top_users.each do |user| %>
    <li><%= user.username %> (<%= user.ratings.size %> ratings)</li>
  <% end %>
</ul>

<h4>Recent ratings</h4>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Beer</th>
    <th>Score</th>
    <th>User</th>
    <th>Time</th>
  </tr>
  </thead>
  <tbody>
  <% @recent_ratings.each do |rating| %>
    <tr>
      <td><%= link_to rating.beer.name, beer_path(rating.beer) %></td>
      <td><%= rating.score %></td>
      <td><%= link_to rating.user.username, user_path(rating.user) %></td>
      <td><%= rating.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if current_user.present? %>
  <%= link_to "New rating", new_rating_path, class: "btn btn-primary" %>
<% end %>