<div id="<%= dom_id @brewery %>">
  <h2><%= @brewery.name %>
    <% unless @brewery.active %>
      <span class="badge bg-secondary">retired</span>
    <% end %>
  </h2>
  <p>
    <i>Established at <%= @brewery.year %></i>
  </p>
  <p>
    Beers count: <%= @brewery.beers.count %>
  </p>
  <p>
    <% @brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>

  <% if @brewery.ratings.present? %>
    Brewery has <%= pluralize @brewery.ratings.count, "rating" %>
    with an average of <%= round(@brewery.average_rating) %>.
  <% end %>
</div>

<div>
  <% if current_user %>
    <%= link_to "Change activity", toggle_activity_brewery_path(@brewery.id), data: { turbo_method: "post" }, class: "btn btn-primary" %>
    <%= edit_and_destroy_buttons(@brewery) %>
  <% end %>
  <%= link_to "Back to breweries", breweries_path %>
</div>
