<p style="color: green"><%= notice %></p>

<h1>Beers</h1>

<div id="beers">
  <% @beers.each do |beer| %>
    <div id="<%= dom_id beer %>">
      <hr>
      <p>
        <strong>Name:</strong>
        <%= link_to beer.name, beer %>
      </p>

      <p>
        <strong>Style:</strong>
        <%= beer.old_style %>
      </p>

      <p>
        <strong>Brewery:</strong>
        <%= link_to beer.brewery.name, beer.brewery %>
      </p>
    </div>
  <% end %>
</div>
<hr>
<%= link_to('New beer', new_beer_path) if current_user %>
<%= link_to "List of breweries", breweries_path %>