<h1>Beers</h1>

<table class="table table-hover" id="beers">
  <thead>
  <tr>
    <th>Beer</th>
    <th>Style</th>
    <th>Brewery</th>
    <th>Rating</th>
  </tr>
  </thead>
  <tbody>
  <% @beers.each do |beer| %>
    <tr id="<%= dom_id beer %>">
      <th><%= link_to beer.name, beer %></th>
      <th><%= link_to beer.style %></th>
      <th><%= link_to beer.brewery.name, beer.brewery %></th>
      <th><%= beer.average_rating %></th>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to('New beer', new_beer_path, class: 'btn btn-primary') if current_user %>
<%= link_to "List of breweries", breweries_path %>